Xft.dpi:       108
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

Xcursor.theme: oxy-zions
Xcursor.size: 24

xterm*faceName: JetBrainsMono NF
xterm*faceSize: 9
xterm*scrollBar: false

URxvt.font: xft:JetBrainsMono NF:size=9:style=Regular
URxvt.boldFont: xft:JetBrainsMono NF:size=9:style=Bold
URxvt.scrollBar: false
URxvt.letterSpace: -1

#include ".Xresources.d/theme"
